<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50269195141-qpj4d86s7jfqng51v041k2hh2vktfaqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50269195141-qpj4d86s7jfqng51v041k2hh2vktfaqr</string>
	<key>API_KEY</key>
	<string>AIzaSyCCAf81TokSLT3fnVnOJkr1thoBw9xSFOs</string>
	<key>GCM_SENDER_ID</key>
	<string>50269195141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task1</string>
	<key>PROJECT_ID</key>
	<string>task3-2d664</string>
	<key>STORAGE_BUCKET</key>
	<string>task3-2d664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50269195141:ios:f50272e2eb21a1fc7152ec</string>
</dict>
</plist>